<div class="w-2/12 pt-8 pl-10 text-white wp-4 bg-darkSecondary max-lg:hidden">
  <h2 class="text-xl font-bold text-darkHeading">Dashboard</h2>
  <ul class="mt-4 space-y-2">
    <li>
      <a href="/" class="block p-2 hover:bg-slate-400"
        ><i class="mr-2 fa-solid fa-house"></i> Home</a
      >
    </li>
    <li>
      <a href="/students" class="block p-2 hover:bg-slate-400"
        ><i class="mr-2 fa-solid fa-school"></i> Students</a
      >
    </li>
  </ul>
</div>
